<mat-sidenav-container class="container">
  <mat-sidenav mode="side" class="sidenav" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a class="list" mat-list-item>
        <i class="material-icons">
          wysiwyg
        </i><span>Posts</span>
      </a>
      <a class="list" mat-list-item>
        <i class="material-icons">
          people
        </i>
        <span>Users</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
