<div style="padding: 2%;">
  <div class="close">
    <a (click)="closeDialog()"><i class="material-icons">close</i></a>
  </div>
  <div class="header"><h1>Comentarios</h1></div>
  <ng-container style="margin: 0.5%;">
    <mat-card *ngFor="let comment of data.element  " class="example-card card">
      <mat-card-header>
        <mat-card-title>{{comment.name | uppercase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{comment.body}}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
