.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255,0.2);
  backdrop-filter: blur(10px);
  z-index: 99999;
  box-shadow: 0px 5px 8px 5px #ebedf7;

}

.footer span{
  display: flex;
  align-items: center;;
}

.footer span strong{
  padding-left: 5px;
}
