.example-card {
  margin: 20px;
  max-width:auto;
  background-color: #ebedf7;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
